<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Perfil</title>
    </head>
    <body>

        <section th:fragment="empleados">
            <h2 style="color: #4B9F38; text-align: center;">Empleados</h2>
            <table style="width: 80%; margin: 50px auto; border-collapse: collapse;">
                <thead>
                    <tr style="background-color: #4B9F38; color: white;">
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Identificación</th>
                        <th>Puesto</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                
                <-<!-- Prueba -->
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Empleado 1</td>
                        <td>Apellido1 Apellido2</td>
                        <td>123456789</td>
                        <td>M</td>
                        <td>50000.00</td>
                        <td>
                            <a href="#" style="background-color: #dc3545; color: white; padding: 2px 10px; text-decoration: none; border-radius: 20px; font-weight: bold;">Eliminar</a>
                            <a th:href="@{/empleado/modificar}" style="background-color: #28a745; color: white; padding: 2px 10px; text-decoration: none; border-radius: 20px; font-weight: bold;">Modificar</a>
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Empleado 2</td>
                        <td>Apellido1 Apellido2</td>
                        <td>987654321</td>
                        <td>E</td>
                        <td>45000.00</td>
                        <td>
                            <a href="#" style="background-color: #dc3545; color: white; padding: 2px 10px; text-decoration: none; border-radius: 20px; font-weight: bold;">Eliminar</a>
                            <a th:href="@{/empleado/modificar}" style="background-color: #28a745; color: white; padding: 2px 10px; text-decoration: none; border-radius: 20px; font-weight: bold;">Modificar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section th:fragment="modificarEmpleado">
            <div style="position: relative; top: 40%; margin-left: 20%; text-align: left;">
                <p style="font-size: 26px; color: #2F73C0; font-weight: bold; margin-bottom: 2%;">Modificar información personal</p>
            </div>

            <div style="margin-top: 40px; margin-left: 22%; width: 1085px;">
                <form>
                    <div style="margin-bottom: 15px; border-radius: 25px;">
                        <label for="nombre" style="color: #4B9F38; font-weight: bold;">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" placeholder="Ingrese el nombre del empleado">
                    </div>

                    <div style="margin-bottom: 15px; border-radius: 25px;">
                        <label for="apellidos" style="color: #4B9F38; font-weight: bold;">Apellidos:</label>
                        <input type="text" class="form-control" id="apellidos" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" placeholder="Ingrese los apellidos del empleado">
                    </div>

                    <div style="margin-bottom: 15px; border-radius: 25px;">
                        <label for="identificacion" style="color: #4B9F38; font-weight: bold;">Identificación:</label>
                        <input type="text" class="form-control" id="identificacion" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" placeholder="Ingrese la identificación del empleado">
                    </div>

                    <div style="margin-bottom: 15px; border-radius: 25px;">
                        <label for="puesto" style="color: #4B9F38; font-weight: bold;">Puesto:</label>
                        <input type="text" class="form-control" id="puesto" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" placeholder="Ingrese el puesto del empleado">
                    </div>

                    <div style="margin-bottom: 15px; border-radius: 25px;">
                        <label for="salario" style="color: #4B9F38; font-weight: bold;">Salario:</label>
                        <input type="number" class="form-control" id="salario" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" placeholder="Ingrese el salario del empleado">
                    </div>

                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; border-radius: 25px; margin-top: 2%;">
                        <button type="submit" class="btn btn-success" style="font-size: 26px; color: #2F73C0; font-weight: bold; color: white; border-radius: 25px; height: 55px; width: 200px; border-width: 2px; text-align: center;">Actualizar</button>

                        <a href="javascript:history.back()">
                            <button type="button" class="btn btn-secondary" style="background-color: #808080; color: white; border-radius: 25px; padding: 8px 50px; font-size: 26px; border: none; font-weight: bold;">Volver</button>
                        </a>
                    </div>
                </form>
            </div>
        </section>


    </body>
</html>
