<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Citas</title>

    </head>
    <body>

        <section th:fragment="cita">

            <div class="text-center">
                <h1 style="color: #4B9F38; margin-top: 55px; font-weight: bold;">Agende su cita</h1>
            </div>

            <div style="margin-top: 25px;  margin-left: 22%; width: 450px;"> 
                <form>
                    <div class="form-group" >
                        <label for="fecha" style="color: #4B9F38; font-weight: bold;">Fecha:</label>
                        <input type="date" class="form-control" id="fecha" style="border-radius: 25px; height: 55px; border-width: 2px;">
                    </div>
                </form>
            </div>


            <div style="margin-top: -3.7%; margin-left: 55%; width: 450px;"> 
                <form>
                    <div class="form-group" >
                        <label for="hora" style="color: #4B9F38; position: absolute; top: 29%; font-weight: bold;">Hora:</label>
                        <input type="time" class="form-control" id="hora" style="border-radius: 25px; height: 55px; border-width: 2px; margin-top: -25px">
                    </div>
                </form>
            </div>

            <div style="margin-top: 2%; margin-left: 22%; width: 1085px;">
                <form>
                    <div style="border-radius: 25px;">
                        <label for="nombre" style="color: #4B9F38; font-weight: bold;">Nombre del Centro Médico:</label>
                        <input type="text" class="form-control" id="nombre" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" placeholder="Ingrese el nombre del centro médico"/>
                    </div>
                </form>
            </div>

            <div style="margin-top: 40px; margin-left: 22%; width: 1085px;">
                <form>
                    <div style="margin-bottom: 15px; border-radius: 25px;">
                        <label for="motivo" style="color: #4B9F38; font-weight: bold;">Motivo:</label>
                        <input type="text" class="form-control" id="motivo" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" placeholder="Consulta, seguimiento, emergencia">
                    </div>
                </form>
            </div>

            <div sec:authorize="hasRole('ROLE_ADMIN')" style="flex-direction: column; justify-content: flex-end; position: absolute; left: 38%; right: 0; bottom: 10px; padding: 10px; box-sizing: border-box; top: 90%;">
                <a th:href="@{/cita/modificar}" class="btn btn-primary" style="width: 20%;">Modificar</a>
                <button class="btn btn-danger" style="width: 20%;">Eliminar</button>
            </div>

        </section>

        <section th:fragment="buscar">
            <button type="button" style="margin-top: 80px; margin-bottom: 7.5%; margin-left: 39%; background-color: #4B9F38; color: #FFFFFF; border: none; border-radius: 25px; height: 55px; width: 450px; font-size: 26px; font-weight: bold; cursor: pointer;">Consultar disponibilidad</button>
        </section>



        <section th:fragment="modificarCita">

            <div style="margin-top: 40px; margin-left: 22%; width: 1085px;">
                <form>
                    <div style="margin-bottom: 15px; border-radius: 25px;">
                        <label for="idCita" style="color: #4B9F38; font-weight: bold;">ID de Cita:</label>
                        <input type="number" class="form-control" id="idCita" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" placeholder="Ingrese el ID de la cita" />
                    </div>

                    <div style="margin-bottom: 15px; border-radius: 25px;">
                        <label for="fechaCita" style="color: #4B9F38; font-weight: bold;">Fecha de la Cita:</label>
                        <input type="date" class="form-control" id="fechaCita" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" />
                    </div>

                    <div style="margin-bottom: 15px; border-radius: 25px;">
                        <label for="horaCita" style="color: #4B9F38; font-weight: bold;">Hora de la Cita:</label>
                        <input type="time" class="form-control" id="horaCita" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" />
                    </div>

                    <div style="margin-bottom: 15px; border-radius: 25px;">
                        <label for="centroMedico" style="color: #4B9F38; font-weight: bold;">Nombre del Centro Médico:</label>
                        <input type="text" class="form-control" id="centroMedico" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" placeholder="Ingrese el nombre del centro médico" />
                    </div>

                    <div style="margin-bottom: 15px; border-radius: 25px;">
                        <label for="motivoCita" style="color: #4B9F38; font-weight: bold;">Motivo de la Cita:</label>
                        <input type="text" class="form-control" id="motivoCita" style="border-radius: 25px; height: 55px; border-width: 2px; text-align: center;" placeholder="Ingrese el motivo de la cita" />
                    </div>

                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; border-radius: 25px; margin-top: 2%;">
                        <button type="submit" class="btn btn-success" style="font-size: 26px; color: #2F73C0; font-weight: bold; color: white; border-radius: 25px; height: 55px; width: 200px; border-width: 2px; text-align: center;">Actualizar</button>

                        <a th:href="@{/cita/inicio}">
                            <button type="button" class="btn btn-secondary" style="background-color: #808080; color: white; border-radius: 25px; padding: 8px 50px; font-size: 26px; border: none; font-weight: bold;">Volver</button>
                        </a>

                    </div> 
                    
                </form>
            </div>



        </section>


    </body>
</html>
