<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Historial Medico</title>

    </head>
    <body>

        <section th:fragment="perfil">



            <a th:href="@{/perfil/inicio}">
                <div style="text-align: center; margin-top: 20px;">

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIBSYirFCj-4NsUuigL4IN1OLm8YGbf_zh6g&usqp=CAU" alt="Foto de perfil" style="width: 100px; height: 100px; border-radius: 50%;">

                </div>
            </a>
            <div style="text-align: center;">
                <p>Nombre de usuario: <strong>{}</strong></p>
                <p>Cédula: <strong>{}</strong></p>
            </div>
            <br/>
        </section>

        <section th:fragment="buscar">
            <div style="text-align:left; margin-top: 20px; margin-left: 18%; display: flex; align-items: center;">
                <input type="text" placeholder="Buscar citas" style="border-radius: 25px 0 0 25px; padding: 10px; font-size: 16px; width: 340px; height: 56px; border: 1px solid #ccc; border-right: none;">
                    <button style="border-radius: 0 49% 49% 0; background-color: #4B9F38; color: white; width: 56px; height: 56px; border: 1px solid #4B9F38;">
                        <i class="fa fa-search"></i>
                    </button>
                    <h2 style="margin-left: 5%; color: #4B9F38; font-size: 50px; font-weight: bold;">Citas previas</h2>
            </div>

        </section>

        <section th:fragment="listado">
            <div th:if="${#lists.isEmpty(citas)}">
                <p style="text-align: center; font-size: 18px; color: #777;">No hay citas registradas.</p>
            </div>
            <div th:unless="${#lists.isEmpty(citas)}">
                <table style="width: 80%; margin: 50px auto; border-collapse: collapse;">
                    <thead>
                        <tr style="background-color: #4B9F38; color: white;">
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Centro Médico</th>
                            <th>Motivo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody th:each="cita, iterStat : ${citas}">
                        <tr>
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${cita.fecha}"></td>
                            <td th:text="${cita.hora}"></td>
                            <td th:text="${cita.centro}"></td>
                            <td th:text="${cita.motivo}"></td>
                            <td>
                                <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLEADO')">
                                    
                                    <a th:href="@{/historial/eliminar/}+${cita.idCita}"
                                       style="background-color: #dc3545; color: white; padding: 2px 10px; text-decoration: none; border-radius: 20px; font-weight: bold;">Eliminar</a>

                                    
                                    <a th:href="@{/historial/modificar/}+${cita.idCita}" 
                                       style="background-color: #28a745; color: white; padding: 2px 10px; text-decoration: none; border-radius: 20px; font-weight: bold;">Modificar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>


        <section th:fragment="modificar">

            <form method="POST"
                  th:action="@{/cita/guardarCita}"
                  th:object="${cita}"
                  class="was-validated"
                  style="width: 50%; margin: 50px auto; background-color: white; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

                <h2 style="text-align: center; color: #4B9F38;">Modificar Cita</h2>

                <div style="margin-bottom: 10px;">
                    <label for="idCita">ID de la Cita:</label>
                    <input type="text" th:field="*{idCita}" class="form-control" readonly />
                </div>

                <div style="margin-bottom: 10px;">
                    <label for="fecha">Fecha:</label>
                    <input type="text" th:field="*{fecha}" class="form-control" required />
                </div>

                <div style="margin-bottom: 10px;">
                    <label for="hora">Hora:</label>
                    <input type="text" th:field="*{hora}" class="form-control" required />
                </div>

                <div style="margin-bottom: 10px;">
                    <label for="centro">Centro:</label>
                    <input type="text" th:field="*{centro}" class="form-control" required />
                </div>

                <div style="margin-bottom: 10px;">
                    <label for="motivo">Motivo:</label>
                    <input type="text" th:field="*{motivo}" class="form-control" required />
                </div>

                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="submit" style="background-color: #4B9F38; color: white; padding: 10px 15px; border: none; border-radius: 3px; cursor: pointer;">Guardar cambios</button>
                    <a th:href="@{/historial/inicio}" class="btn btn-secondary" style="padding: 10px 15px; border: none; border-radius: 3px; cursor: pointer;">Volver</a>
                </div>

            </form>

        </section>



    </body>
</html>
