<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Examenes</title>

    </head>
    <body>

        <section th:fragment="inicio">

            <a th:href="@{/examen/agregar}" class="btn btn-primary" style="width: 10%; margin-top: 10px; margin-left: 10px; font-weight: bold; background-color: #4B9F38;"
               sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLEADO')">Agregar examen</a>

            <h2 style="margin-left: 35%; color: #4B9F38; font-size: 50px; font-weight: bold;">Resultado de examenes</h2>

            <div style="margin-top: 45px;  margin-left: 22%; width: 400px;"> 
                <form>
                    <div class="form-group" >
                        <label for="fecha" style="color: #4B9F38; font-weight: bold;">Fecha de examen:</label>
                        <input type="date" class="form-control" id="fecha" style="border-radius: 25px; height: 55px; border-width: 2px;">
                    </div>
                </form>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 50px; margin-bottom: 0%; margin-left: 22%; background-color: #4B9F38; color: #FFFFFF; border: none; border-radius: 25px; height: 55px; width: 400px; font-size: 26px; font-weight: bold; cursor: pointer;">Buscar examen</button>

            <div style="position: absolute; top: 300px; left: 1200px;">
                <p style="font-size: 28px; color: #4B9F38; font-weight: bold; border-bottom: 2px solid #D19131;">Examenes</p>

            </div>

            <div style="margin-left: 57%; width: 20%; margin-top: -5%; background-color: white; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); z-index: 1000; margin-bottom: 100px;">

                <div style="margin-top: 20px;">

                    <div th:if="${#lists.isEmpty(examenes)}">
                        <p style="text-align: center; font-weight: bold; color: #4B9F38;">No hay exámenes registrados.</p>
                    </div>

                    <div th:each="examen : ${examenes}">
                        <div style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 10px; position: relative;">


                            <p>Fecha: <span th:text="${examen.fecha}"></span></p>
                            <p>Descripción: <span th:text="${examen.descripcion}"></span></p>
                            <p>Tipo: <span th:text="${examen.tipo}"></span></p>
                            <p>Resultado: <span th:text="${examen.resultado}"></span></p>


                            <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLEADO')" style="position: absolute; bottom: 0; right: 0; margin: 10px;">

                                <a th:href="@{/examen/eliminar/}+${examen.idExamen}"
                                   style="background-color: #dc3545; color: white; padding: 2px 10px; text-decoration: none; border-radius: 20px; font-weight: bold; margin-right: 2px;">Eliminar</a>


                                <a th:href="@{/examen/modificar/}+${examen.idExamen}" 
                                   style="background-color: #28a745; color: white; padding: 2px 10px; text-decoration: none; border-radius: 20px; font-weight: bold;">Modificar</a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>




        </section> 

        <section th:fragment="agregar">

            <div style="margin-top: 25px; margin-left: 22%; width: 450px;">
                <form th:action="@{/examen/guardarExamen}" method="post">

                    <div class="form-group">
                        <label for="fecha" style="color: #4B9F38; font-weight: bold;">Fecha:</label>
                        <input type="date" class="form-control" style="border-radius: 25px; padding: 10px; font-size: 16px; width: 1000px; height: 56px; border: 1px solid #ccc;"
                               name="fecha">
                    </div>
                    <div class="form-group">
                        <label for="descripcion" style="color: #4B9F38; font-weight: bold;">Descripción:</label>
                        <input type="text" class="form-control" style="border-radius: 25px; height: 55px; width: 1000px; border-width: 2px; text-align: center;"
                               placeholder="Ingrese la descripción" name="descripcion">
                    </div>
                    <div class="form-group">
                        <label for="tipo" style="color: #4B9F38; font-weight: bold;">Tipo:</label>
                        <input type="text" class="form-control" style="border-radius: 25px; height: 55px; width: 1000px; border-width: 2px; text-align: center;"
                               placeholder="Ingrese el tipo" name="tipo">
                    </div>
                    <div class="form-group">
                        <label for="resultado" style="color: #4B9F38; font-weight: bold;">Resultado:</label>
                        <input type="text" class="form-control" style="border-radius: 25px; height: 55px; width: 1000px; border-width: 2px; text-align: center;"
                               placeholder="Ingrese el resultado" name="resultado">
                    </div>

                    <button type="submit" class="btn btn-primary"
                            style="margin-top: 80px; margin-bottom: 7.5%; margin-left: 65%; background-color: #4B9F38; color: #FFFFFF; border: none; border-radius: 25px; height: 55px; width: 450px; font-size: 26px; font-weight: bold; cursor: pointer;">
                        Guardar Examen
                    </button>
                </form>
            </div>

        </section>

        <section th:fragment="modificarExamen">

            <form method="POST"
                  th:action="@{/examen/guardarExamen}"
                  th:object="${examen}"
                  class="was-validated"
                  style="width: 50%; margin: 50px auto; background-color: white; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

                <h2 style="text-align: center; color: #4B9F38;">Modificar Examen</h2>

                <div style="margin-bottom: 10px;">
                    <label for="idExamen">ID del Examen:</label>
                    <input type="text" th:field="*{idExamen}" class="form-control" readonly />
                </div>

                <div style="margin-bottom: 10px;">
                    <label for="fecha">Fecha:</label>
                    <input type="text" th:field="*{fecha}" class="form-control" readonly />
                </div>

                <div style="margin-bottom: 10px;">
                    <label for="descripcion">Descripción:</label>
                    <input type="text" th:field="*{descripcion}" class="form-control" required />
                </div>

                <div style="margin-bottom: 10px;">
                    <label for="tipo">Tipo:</label>
                    <input type="text" th:field="*{tipo}" class="form-control" required />
                </div>

                <div style="margin-bottom: 10px;">
                    <label for="resultado">Resultado:</label>
                    <input type="text" th:field="*{resultado}" class="form-control" required />
                </div>

                <button type="submit" style="background-color: #4B9F38; color: white; padding: 10px 15px; border: none; border-radius: 3px; cursor: pointer;">Guardar cambios</button>
                <a th:href="@{/examen/inicio}" class="btn btn-secondary" style="padding: 10px 15px; border: none; border-radius: 3px; cursor: pointer;">Volver</a>
            </form>

        </section>




    </body>
</html>
