.logo img {
  width: 204px;
  height: 197px;
  position: relative;
  top: -27px;
  left: 31px;
}

.custom-nav-link {
  font-size: 18px;
  color: white;
}


.custom-icon {
  font-size: 24px; 
  color: white;
}