<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

        <head th:replace ="layout/plantilla :: head">
            <title>TODO supply a title</title>
            <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    </head>
                    <body>
                        <header th:replace="layout/plantilla :: header"/>
                        <div class="container mt-5" style="background-color: white;">
                            <div class="text-center">
                                <div style="position: absolute; top: 170px; left: 807px; width: 130px; height: 130px; border: 5px solid #0A8A57; border-radius: 50%;">
                                    <!-- Icono de usuario -->
                                    <i class="fas fa-user" style="font-size: 80px; color: grey; margin-top: 20px;"></i>
                                </div>
                                <div style="margin-top: 8rem; margin-left: -8rem; text-align: left; font: normal normal normal 60px/12px Bahnschrift; letter-spacing: 0px; color: #2F73C0;">
                                    Información Personal
                                </div>
                                <div style="position: absolute; top: 360px; left: 254px; color: black;">
                                    <p><strong style="font-size: 22px; color: #2F73C0;">Nombre y Apellido:</strong> <span th:text="${usuario.nombre}" style="font-size: 18px;"></span></p>
                                    <p><strong style="font-size: 22px; color: #2F73C0;">Identificación:</strong> <span th:text="${usuario.identificacion}" style="font-size: 18px;"></span></p>
                                    <p><strong style="font-size: 22px; color: #2F73C0;">Cantón:</strong> <span th:text="${usuario.canton}" style="font-size: 18px;"></span></p>
                                    <p><strong style="font-size: 22px; color: #2F73C0;">Correo:</strong> <span th:text="${usuario.email}" style="font-size: 18px;"></span></p>
                                </div>

                                <div style="margin-left: 12rem;position: absolute; top: 302px; left: 920px; color: black;">
                                    <h5 style="margin-top: -1.8rem; margin-left: -8rem; text-align: right; font: normal normal normal 60px/12px Bahnschrift; letter-spacing: 0px; color: #2F73C0;">Opciones</h5>
                                    <div class="mt-4" style="padding-top: 5rem;">
                                        <button class="btn btn-primary" style="display: block; width: 267px; height: 52px; border-radius: 25px 0px 10px 0px; background-color: #0A8A57; color: white; margin-bottom: 10px;">Actualizar Perfil</button>
                                        <button class="btn btn-danger" style="display: block; width: 267px; height: 52px; border-radius: 25px 0px 10px 0px; background-color: #0A8A57; color: white;">Borrar Perfil</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

                    </body>
                    </html>

